.about {
    grid-column: col-start 1 / col-end 8;
    grid-column-gap: 6rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 4rem 8rem 8rem 8rem;


    @media only screen and (max-width: $media-small){
        padding: 4rem 3rem 3rem 3rem;
    }

    @media only screen and (max-width: $media-smallest){
        padding: 4rem 1rem 1rem 1rem;
    }

    &__title {
        grid-column: 1 / -1;
        
        margin-bottom: 4rem;
        justify-self: center;
    }

    

    

    &__img {
        justify-self: end;
        grid-column: 1 / 2;
        background-image: linear-gradient(rgba(#000, .4), rgba(#000, .4)), url('../img/personal.jpg');
        background-size: cover;
        background-position: bottom;
        width: 60%;
        height: 100%;

        @media only screen and (max-width: $media-large) {
            justify-self: center;
            width: 50vw;
            height: 50vw;
            grid-column: 1 / -1;
            margin-bottom: 2rem;
        }

        & > * {
            width: 100%;
        }
    }

    &__text {
        justify-self: start;
        padding: 2rem;
        font-size: 2.1rem;
        letter-spacing: .5px;
        @media only screen and (max-width: $media-large) {
            grid-column: 1 / -1;
        }
        & p {
            border-top: 1px dashed #646464;
            padding: 2rem 0;
        }

        & h3 {
            color: $color-primary-dark;
        }
    }
}


